.edit-form{
    display: flex;
    flex-direction: column;
}

.edit-form input{
    width: 8rem;
}

.edit-form button{
    width: 8rem;
    margin-top: 1rem;
}

.error-border{
    border: 1px solid red;
}
.alert-error{
    color: red;
}
