:root {
    --gray: #1f2937;
    --light-gray: #e2e8f0;
    --medium-gray: #374151;
  
    font-family: "Roboto", sans-serif;
}

.edit-form{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.write-user-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    width: 40%;
    height: 100%;
}

.create-user-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.write-user-container h2{
    text-align: center;
}

.create-user-form, .edit-user-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    border: 0.1rem solid var(--medium-gray);
    padding: 2rem;
}

.create-user-form{
    gap: 1rem;
}

.create-user-form button{
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: var(--gray);
    color: white;
}

.create-user-form button:hover{
    background-color: var(--medium-gray);
    cursor: pointer;
}

.create-user-input-container{
    display: flex;
    flex-direction: column;
}

.create-user-input-container label{
    font-size: 1.2rem;
}

.create-user-input-container input{
    padding: 0.3rem;
    border: 0.1rem solid var(--medium-gray);
    border-radius: 0.5rem;
    font-size: 1rem;
}

.view{
    display: flex;
    flex-direction: column;
}

.edit-user-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.edit-user-form input{
    padding: 0.3rem;
    border: 0.1rem solid var(--medium-gray);
    border-radius: 0.5rem;
    font-size: 1rem;
}

.edit-user-form button{
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: var(--gray);
    color: white;
}

.edit-user-form button:hover{
    background-color: var(--medium-gray);
    cursor: pointer;
}

.user-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 70%;
    gap: 1rem;
}

.view-user-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    border: 0.1rem solid var(--medium-gray);
    border-radius: 1rem;
    background-color: white;
    overflow: auto;
    padding: 1rem;
}

.view-user-container h2{
    text-align: center;
}

.view-user-container table{
    width: 100%;
    border-collapse: collapse;
}

.view-user-container th{
    background-color: var(--gray);
    color: white;
}

.view-user-container th, .view-user-container td{
    border-bottom: 0.1rem solid var(--medium-gray);
    padding: 1rem; 
    text-align: center;
}

.view-user-container button{
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: var(--gray);
    color: white;
}

.view-user-container button:hover{
    background-color: var(--medium-gray);
    cursor: pointer;
}

.error-border{
    border: 1px solid red;
}
.alert-error{
    color: red;
}

