<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>{%block title%}{%endblock%}</title>
  </head>
  <body>
    <header>          
      <div class='base-menu'>
        <img src="{{url_for('static', filename='img/logo.svg')}}" class="logo" >
        <a href="/" class="base-menu-option">
            <img src="{{url_for('static', filename='img/home.svg')}}">
            <p>Home</p>
        </a>
        <a href="/sensor" class="base-menu-option">
            <img src="{{url_for('static', filename='img/sensor.svg')}}">
            <p>Sensors</p>
        </a>
        <a href="/actuator" class="base-menu-option">
            <img src="{{url_for('static', filename='img/actuator.svg')}}">
            <p>Actuators</p>
        </a>
      </div>
      <div class='base-login'>
          {% if session.get('user')%}
            <a href="/logout" class="base-menu-option">
              <img src="{{url_for('static', filename='img/logout.svg')}}">
              <p>Log out</p>
            </a>
            <a class="base-menu-option-logged">
              <img src="{{url_for('static', filename='img/login.svg')}}">
              <p>{{ session.get('username') }}</p>
            </a>
          {%else%}
            <a href="/login" class="base-menu-option">
              <p>Log in</p>
            </a>
          {% endif %}
      </div>
    </header>
    <main>
      {%block content%}
      {%endblock%}
    </main>
    <footer>
    </footer>
  </body>
</html>
