{% extends "base.html" %}
{% block title%}
Home Page
{% endblock %}
{% block content%}
<div class="home-container">
  <div class="content-container">
    <h1>Send</h1>
    <div class="home-send">
      <form method="POST" class="home-form">
        <p>Input your command:</p>
        <input class="home-input" type="text" name="command" placeholder=" e.g turn on light">
        <input type="submit" class="home-button">
      </form>
    </div>
    <h1>Sensors</h1>
    <div class="home-sensors">
      <div class="home-sensor-container first-element">
          <img src="{{url_for('static', filename='img/temperature.svg')}}">
          {% if temperature %}
            <p>{{temperature}}</p>
          {%else%}
            <p>Temperature: Not found.</p>
          {% endif %}
      </div>     
      <div class="home-sensor-container">
          <img src="{{url_for('static', filename='img/humidity.svg')}}">
          {% if humidity%}
            <p>{{humidity}}</p>
          {%else%}
          <p>Humidity: Not found. </p>
          {% endif %}
      </div>     
    </div>
  </div>
  <div class="content-container">
    <h1>Receive</h1>
      <div class="home-receive">
        {% for message in messages %}
          <div class="home-receive-message">
            <p>{{message}}</p>
          </div>
        {% endfor %}
      </div>
  </div>
</div>
{% endblock%}
