{%extends "base.html"%}
{%block title%} Login Page{%endblock%}
{%block content%}
<div class="login-main">
  <h1>Welcome!</h1>
  <div class="login-warning-container">
      <p>Log in to have access to the site.</p>
  </div>
  <div class="login-container">
    <form method="post" class="login-form">

      <div class="login-input">
        <p>Your email:</p>
        <input type="text" name="user" required placeholder="e.g john@gmail.com">
      </div>
      <div class="login-input">
        <p>Your password:</p>
        <input type="password" required name="password" placeholder="e.g jhon1234">
      </div>

      <input type="submit" class="login-submit" value="Login">
    </form>
  </div>
  {% with message = get_flashed_messages() %}
    {% if message %}
        {% for message in message %}
            <span class="alert alert-error">{{ message }}</span>
        {% endfor %}
    {% endif %}
    {% endwith %}
  {% if error %}
    <div class="login-error-container">
        <p>{{error}}</p>
    </div>
  {%else%}
      <div>
      </div>
  {% endif %}
</div>
{%endblock%}

