{% extends "base.html" %}

{% block title%}
Sensor Page
{% endblock %}

{% block content%}
<div class="main">
    {% if session.get('role') == "admin" %}
    <div class="container">
        <h2 class="sensor-subtitle">New Sensor</h2>
        <form action="/create_sensor" method="post" class="sensor-create-container">
            <label for="name" class="sensor-label">Name:</label>
            <input type="text" id="name" name="name" placeholder="e.g temperature" required class="sensor-input"><br>
    
            <label for="value" class="sensor-label">Value:</label>
            <input type="number" id="value" name="value" placeholder="25" required class="sensor-input"><br>
            
            <button type="submit" class="sensor-button">Register</button>
        </form>
    </div>
    {% endif %}
    <div class="container">
        <h2 class="sensor-subtitle">Registered Sensors</h2>
        <div class="sensor-view-container">
            <table class="sensor-table">
                <tr>
                    <th class="sensor-table-header left">Name</th>
                    <th class="sensor-table-header">Value</th>
                    <th class="sensor-table-header">Action</th>
                </tr>
                {% for sensor in sensors %}
                <tr>
                    <td class="sensor-table-data left">{{ sensor.name }}</td>
                    <td class="sensor-table-data">{{ sensor.value }}</td>
                    <td class="sensor-table-data">
                        {% if session.get('role') == "admin" %}
                        <form action="/delete_sensor/{{sensor.id}}" method="POST">
                            <button type="submit" class="sensor-delete-button">Delete</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

