{% extends "base.html" %}

{% block title%}
Actuator Page
{% endblock %}

{% block content%}
<div class="main">
    {% if session.get('role') == "admin" %}
    <div class="container">
        <h2 class="actuator-subtitle">New Actuator</h2>
        <form action="/create_actuator" method="post" class="actuator-create-container">
            <label for="name" class="actuator-label">Name:</label>
            <input type="text" id="name" name="name" placeholder="e.g temperature" required class="actuator-input"><br>

            <label for="value" class="actuator-label">Value:</label>
            <input type="number" id="value" name="value" placeholder="25" required class="actuator-input"><br>
            
            <button type="submit" class="actuator-button">Register</button>
        </form>
    </div>
    {% endif %}
    <div class="container">
        <h2 class="actuator-subtitle">Registered Actuators</h2>
        <div class="actuator-view-container">
            <table class="actuator-table">
                <tr>
                    <th class="actuator-table-header left">Name</th>
                    <th class="actuator-table-header">Value</th>
                    <th class="actuator-table-header">Action</th>
                </tr>
                {% for actuator in actuators %}
                <tr>
                    <td class="actuator-table-data" class="left">{{ actuator.name }}</td>
                    <td class="actuator-table-data">{{ actuator.value }}</td>
                    <td class="actuator-table-data">
                        {% if session.get('role') == "admin" %}
                        <form action="/delete_actuator/{{actuator.id}}" method="POST">
                            <button type="submit" class="actuator-delete-button">Delete</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

